.dir {
    margin: .5em;
    width: 67px;
    height: 36px;
    background: #2E465C;
    border-radius: 2px;
    text-align: center;
    span {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
}